body {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  min-height: 100%;
  overflow-y: scroll;
  display: block;
}

div {
  display: block;
}

p {
  font-family: 'Hind', sans-serif;
}

.headbar {
  position: fixed;
  left: 0%;
  margin-left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  padding-top: 23px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.95);
}

.headbarLine {
  position: absolute;
  left: 20px;
  right: 20px;
  height: 1px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.05);
}

.logoHumi {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  top: 18px;
  background-size: 100% 100%;
  background-image: url(../assets/logo_gray.png);
}

#intercom {
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
  background-image: url(../assets/intercom-chat-icon.png);
}

.textHeader {
  position: absolute;
  left: 55px;
  text-align: center;
  color: #5b5b57;
}

.topBar {
  top: 0px;
  font-size: 20px;
  line-height: 25px;
}

.profile {
  color: #c1c1bf;
  font-weight: 200;
}

#intercom-container {
  background: #53bbf4 !important;
}
